<div style="max-height: 60vh; overflow:auto">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th *ngFor="let propertyName of propertyNames">{{propertyName}} </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of data; let i =index">
                <th *ngFor="let propertyName of propertyNames" className="{{i}}">
        
                    {{data[propertyName]}}
                </th>
            </tr>
        </tbody>
    </table>
</div>

<button id="exportToExcel" (click)="exportToExcel(data,'Report')" >export to excel</button>
<button id="exportToCsv" (click)="exportToCsv(data,'Report')" >export to csv</button>
