<div class="col-12 d-flex mt-3 align-items-center rounded p-2">
  <img
    class="img-fuild rounded"
    src="assets/img/sample-img.jpg"
    alt="img"
    width="110"
  />
  <div class="row ms-3" style="width: 400px">
    <div class="col-12">
      <span class="inline-block fs-3 fw-bold">Name</span>
    </div>
    <div class="col-12">
      <span class="inline-block text-small">Line 1</span>
    </div>
    <div class="col-12">
      <span class="inline-block text-muted">Line 2</span>
    </div>
  </div>
</div>
