
           <h1>Phone no Selector</h1>

<div style="margin: 50px">
	<br>
	<form #f="ngForm" [formGroup]="phoneForm">
		<div class="mb-2">
	
			<ngx-intl-tel-input
			[cssClass]="'custom'"
			[preferredCountries]="preferredCountries"
			[enableAutoCountrySelect]="true"
			[enablePlaceholder]="true"
			[searchCountryFlag]="true"
			[searchCountryField]="[
			  SearchCountryField.Iso2,
			  SearchCountryField.Name
			]"
			[selectFirstCountry]="false"
			[selectedCountryISO]="CountryISO.India"
			[maxLength]="15"
			[phoneValidation]="true"
			[separateDialCode]="true"
			[numberFormat]="PhoneNumberFormat.National"
			name="phone"
			formControlName="phone"
		  >
		  </ngx-intl-tel-input>
		</div>
		<button type="button" (click)="submit()" class="btn btn-primary mt-3">Submit</button>
  </form>
  <br/>


  <!-- <div>
    <strong>Is input valid:</strong>
    <pre>{{ !f.form.controls['phone'].invalid }}</pre>
  </div>
  <div>
    <strong>Is input touched:</strong>
    <pre>{{ f.form.controls['phone'].touched }}</pre>
  </div>
  <div>
    <strong>Is form valid:</strong>
    <pre>{{ f.form.valid }}</pre>
  </div>
  <div>
    <strong>Form value:</strong>
    <pre>{{ f.form.value | json }}</pre>
  </div>
  <div>
    <strong>Form validation errors:</strong>
    <pre>{{ f.form.controls['phone'].errors | json }}</pre>
  </div> -->


</div>

