<button (click)="show()">show</button>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam id aliquid
  dolore, sunt asperiores ad quo consequuntur porro ipsam ipsa.
</p>
<br />
<br />
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam id aliquid
  dolore, sunt asperiores ad quo consequuntur porro ipsam ipsa.
</p>
<br /><br />
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam id aliquid
  dolore, sunt asperiores ad quo consequuntur porro ipsam ipsa.
</p>

<otp-component
  *ngIf="showComponentUsingTemplate"
  (onVerify)="verify($event)"
></otp-component>
