<div *ngIf="importedData" style="max-height: 60vh; overflow:auto">
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Update</th>
            <th *ngFor="let propertyName of propertyNames">{{propertyName}} </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of importedData; let i =index">
            <th *ngIf="data.edit==false">
                <button (click)="onEdit(i)">Edit</button>
            </th>
            <th *ngIf="data.edit">
                <button (click)="onSave(i)">Save</button>
            </th>
            <th *ngFor="let propertyName of propertyNames" className="{{i}}">
                <input *ngIf="data.edit" type="text" [(ngModel)]="data[propertyName]">
                <span *ngIf="!data.edit"> {{data[propertyName]}}</span>
            </th>
        </tr>
    </tbody>
</table>
</div>