<div
  class="d-flex flex-column container-fluid justify-content-center align-items-center p-4"
  style="width: 100%; height: 100vh; background-color: rgb(243 244 246)"
>
  <div class="row bg-white border text-center px-4" style="width: 498px">
    <div class="col my-3 pt-3 d-flex justify-content-center align-items-center">
      <span class="fw-bold fs-3">Welcome</span>
    </div>
    <div class="col-12">
      <form [formGroup]="signupForm" class="my-3" (ngSubmit)="onSubmit()">
        <div class="row gx-1">
          <div class="col-6">
            <div
              class="form-floating mb-2"
              *ngIf="signupForm.contains('firstName')"
            >
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                placeholder="firstName"
                formControlName="firstName"
                [ngClass]="{
                  'is-valid': signupForm.get('firstName')?.valid,
                  'is-invalid':
                    !signupForm.get('firstName')?.valid &&
                    signupForm.get('firstName')?.touched
                }"
              />
              <label for="floatingInput">First Name</label>
            </div>
          </div>
          <div class="col-6">
            <div
              class="form-floating mb-2"
              *ngIf="signupForm.contains('lastName')"
            >
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                placeholder="lastName"
                formControlName="lastName"
                [ngClass]="{
                  'is-valid': signupForm.get('lastName')?.valid,
                  'is-invalid':
                    !signupForm.get('lastName')?.valid &&
                    signupForm.get('lastName')?.touched
                }"
              />
              <label for="floatingInput">Last Name</label>
            </div>
          </div>
        </div>
        <div class="form-floating mb-2" *ngIf="signupForm.contains('username')">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="username"
            formControlName="username"
            [ngClass]="{
              'is-valid': signupForm.get('username')?.valid,
              'is-invalid':
                !signupForm.get('username')?.valid &&
                signupForm.get('username')?.touched
            }"
          />
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-2" *ngIf="signupForm.contains('email')">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="email"
            formControlName="email"
            [ngClass]="{
              'is-valid': signupForm.get('email')?.valid,
              'is-invalid':
                !signupForm.get('email')?.valid &&
                signupForm.get('email')?.touched
            }"
          />
          <label for="floatingInput">Email</label>
        </div>
        <div
          class="form-floating mb-2"
          *ngIf="signupForm.contains('phoneNumber')"
        >
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="phoneNumber"
            formControlName="phoneNumber"
            [ngClass]="{
              'is-valid': signupForm.get('phoneNumber')?.valid,
              'is-invalid':
                !signupForm.get('phoneNumber')?.valid &&
                signupForm.get('phoneNumber')?.touched
            }"
          />
          <label for="floatingInput">Phone Number</label>
        </div>

        <div class="row gx-1 mb-3">
          <div class="col-6">
            <div class="form-floating mb-2">
              <input
                type="password"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
                formControlName="password"
                [ngClass]="{
                  'is-valid': signupForm.get('password')?.valid,
                  'is-invalid':
                    !signupForm.get('password')?.valid &&
                    signupForm.get('password')?.touched
                }"
              />
              <label for="floatingPassword">Password</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-floating mb-2">
              <input
                type="password"
                class="form-control"
                id="floatingPassword"
                placeholder="confirmPassword"
                formControlName="confirmPassword"
                [ngClass]="{
                  'is-valid': signupForm.get('confirmPassword')?.valid,
                  'is-invalid':
                    !signupForm.get('confirmPassword')?.valid &&
                    signupForm.get('confirmPassword')?.touched
                }"
              />
              <label for="floatingPassword">Confirm Password</label>
            </div>
          </div>
          <div
            class="form-floating mb-2"
            *ngIf="signupForm.contains('recaptcha')"
          >
            <ngx-recaptcha2
              #captchaElem
              class="recaptcha"
              [siteKey]="'6Le2VwEhAAAAALrob9hjQt8fpgHO8x1LRiI25JeH'"
              (reset)="handleReset()"
              (expire)="handleExpire()"
              (load)="handleLoad()"
              (success)="handleSuccess($event)"
              [useGlobalDomain]="false"
              [size]="'normal'"
              [hl]="'en'"
              [theme]="'light'"
              [type]="'image'"
              formControlName="recaptcha"
            >
            </ngx-recaptcha2>
          </div>
        </div>
        <div class="d-grid gap-2 mb-3">
          <button
            class="btn btn-primary fw-bold"
            [disabled]="!signupForm.valid"
          >
            Sign up
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="row bg-white border text-center mt-3" style="width: 498px">
    <div class="col-12 px-4 py-3">
      <p class="text-black mb-0 px-4">
        Have an account?
        <a routerLink="" class="link text-primary fw-bold m-0 p-0">Log in</a>
      </p>
    </div>
  </div>
</div>
